body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "arial";
    margin: 0pt;
}

h1, h2, h3, h4, h5, h6 {
    margin: 6pt;
    text-align: center;
    font-weight: bold;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-size: 2.66 - (0.33 * $i) + "em";
    }
}

hr {
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1.5pt;
    display: block;
    height: 0;
    margin: 0 0;
    padding: 0;
    margin-block: 0;
}

a {
    text-decoration: none;
}

p {
    font-size: 12pt;
    margin: 8pt;
}

body {
    background-color: #000000;
    font-family: "arial";
}

section {
    min-height: 50pt;
    color: #FFFFFF;
    background-color: #202020;
    background-size: cover;
    background-position-x: center;
    padding: 2pt;
    border-width: 3pt;
    border-style: solid;
    margin: 8pt;
}

section h2 {
    text-align: center;
    color: #FFFFFF;
    margin-block: 0;
    padding: 6pt;
}

section h3 {
    margin: 8pt;
}

section li {
    color: #FFFFFF;
    margin: 8pt;
}

section p {
    color: #FFFFFF;
    margin: 8pt;
}

.tasksummary {
    font-style: bold;
    font-size: 16pt;
}

.status {
    font-size: 12pt;
}

.footertext {
    text-align: center;
    font-size: 10pt;
}